body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}

h1 {
  text-align: center;
  color: #ff0000;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

.logo {
  margin-bottom: 20px;
  width: 120px;
  height: 120px;
}

a {
  width: 100%;
  text-align: center;
  padding: 10px;
  background-color: #ff0000;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  background-color: #cc0000;
}

.link,
.image {
  display: flex;
  align-items: center;
  justify-content: center;
}
